# Import Modules

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

# Read Data

In [3]:
df = pd.read_csv(r"C:\Users\nitin\Downloads\data\BA_data.csv",index_col=0)

In [4]:
df.head()

                                             reviews
0  ✅ Trip Verified |  I haven't flown British Air...
1  Not Verified |  My itinerary was supposed to b...
2  ✅ Trip Verified |  Busy day at LHR and flight ...
3  ✅ Trip Verified | Worst seats I have ever enco...
4  Not Verified | Top Ten REASONS to not use Brit...

In [5]:
df.shape

(3000, 1)

In [6]:
# Create New column As verified or not.

df['Verified'] = df.reviews.str.contains('Trip Verified')

In [7]:
df.head()

                                             reviews  Verified
0  ✅ Trip Verified |  I haven't flown British Air...      True
1  Not Verified |  My itinerary was supposed to b...     False
2  ✅ Trip Verified |  Busy day at LHR and flight ...      True
3  ✅ Trip Verified | Worst seats I have ever enco...      True
4  Not Verified | Top Ten REASONS to not use Brit...     False

# Cleaning Reviews Column

In [8]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\nitin\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\nitin\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\users\nitin\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\nitin\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\nitin\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\nitin\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [9]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nitin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [11]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nitin\AppData\Roaming\nltk_data...

True

In [13]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\nitin\AppData\Roaming\nltk_data...

True

In [14]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()


reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [22]:
df['corpus'] = corpus

In [24]:
df.head()

,reviews,Verified,corpus
0,✅ Trip Verified | I haven't flown British Air...,True,flown british airway never fly check process t...
1,Not Verified | My itinerary was supposed to b...,False,verified itinerary supposed la vega chicago lo...
2,✅ Trip Verified | Busy day at LHR and flight ...,True,busy day lhr flight full lounge crowded b gate...
3,✅ Trip Verified | Worst seats I have ever enco...,True,worst seat ever encountered economy class leg ...
4,Not Verified | Top Ten REASONS to not use Brit...,False,verified top ten reason use british airway awa...

In [25]:
# Check Null Values in Data Frame

df.isnull().sum()

reviews     0
Verified    0
corpus      0
dtype: int64

# Hence No Null Values.

In [26]:
df.to_csv(r"C:\Users\nitin\Downloads\data\Cleaned-BA-Reviews.csv")